.tool-tip {
  padding: 10px 10px 0 10px;
  background-color: var(--main-color);
  width: auto;
  position: absolute;
  pointer-events: none;
  left: -4px;
  top: -100%;
  opacity: 0;
  color: #ffffff;
  transform-origin: left bottom;
  transform: rotate(20deg) translate(-39%, -93%);
  transition: .3s .1s cubic-bezier(.23, 1, .32, 1);
}

.tool-tip__image {
  background-color: aliceblue;
}

.tool-tip__description {
  padding: 10px 0;
  margin: 0;
}

.tool-tip::after {
  width: 0;
  height: 0;
  content: '';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--main-color);
  top: 99.5%;
  position: absolute;
  left: 0;
}
