.toolTip {
  padding: 10px;
  background-color: #e1124d;
  width: auto;
  position: absolute;
  pointer-events: none;
  left: -4px;
  top: -100%;
  opacity: 0;
  color: #ffffff;
  transform-origin: left bottom;
  transform: rotate(20deg) translate(-39%, -93%);
  transition: .3s .1s;
}

.toolTip::after {
  width: 0;
  height: 0;
  content: '';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e1124d;
  top: 47px;
  position: relative;
  left: -10px;
}
