.sliders {
  position: relative;
  width: 100%;
  height: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}

.sliders__bg {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #cccccc;
  border-radius: 5px;
}

.sliders__mover {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(255, 0, 73, .45);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: top left;
  z-index: 1;
}


.sliders__current {
  position: absolute;
  width: inherit;
  height: inherit;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #888888;
}
