.seeker {
  position: relative;
  width: 100%;
  height: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.seeker__line {
  position: absolute;
  width: inherit;
  height: inherit;
}

.seeker__knob {
  width: 15px;
  height: 15px;
  background-color: #f5f703;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 2;
}

.seeker__line--bg {
  background-color: #cccccc;
  border-radius: 5px;
}

.seeker__line--mover {
  background-color: rgba(64, 255, 26, .92);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: top left;
}


.seeker__line--current {
  transform: scaleX(0);
  transform-origin: top left;
  background-color: #f5f703;
}
