.player {
  width: 360px;
  margin: 0 auto;
}



.spot {
  position: absolute;
  width: 30px;
}

.spot:hover .thumb {
  opacity: 1;
}

.thumb {
  padding: 10px;
  background-color: antiquewhite;
  width: auto;
  position: absolute;
  top: -240px;
  opacity: 0;
  pointer-events: none;
}
