.play-pause {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .53);
  top: 0;
  opacity: 0;
  transition: .3s;
}

.play-pause:hover {
  opacity: 1;
}

.play-pause .button {
  width: 100px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
}

.play-pause .button__bg {
  fill: #ffffff;
}

.play-pause .button__icon {
  fill: #000000;
}

.play-pause .hide {
  opacity: 0;
  pointer-events: none;
}
